In [1]:
import math
import json
import requests
import itertools
import numpy as np
import time
import datetime

In [2]:
import pandas as pd
df=pd.read_csv(r'E:\Reddit\reddit_data_raw_notshuffled_4years.csv')

In [3]:
df.nunique()

Unnamed: 0    433802
flair            814
title         411946
dtype: int64

In [42]:
df1=df[df.flair=='Politics']

In [4]:
c=0
for i in df['flair']:
    if i=='AskIndia':
        c+=1
        
c

54405

In [17]:
df2 = df[200000:].loc[df.flair=='Politics'].sample(n=(10000)).reset_index(drop=True)

In [18]:
df2.shape

(10000, 3)

In [19]:
df3 = df[200000:].loc[df.flair=='Non-Political'].sample(n=10000).reset_index(drop=True)

In [20]:
df4 = df[200000:].loc[df.flair=='AskIndia'].sample(n=10000).reset_index(drop=True)

In [21]:
df5 = df[100000:].loc[df.flair=='Business/Finance'].sample(n=8000).reset_index(drop=True)

In [22]:
df6 = df.loc[df.flair=='Policy/Economy'].sample(n=8000).reset_index(drop=True)

In [27]:
df7 = df.loc[df.flair=='Science/Technology'].sample(n=8000).reset_index(drop=True)

In [31]:
df8 = df.loc[df.flair=='Sports'].sample(n=5000).reset_index(drop=True)

In [32]:
df9 = df.loc[df.flair=='Coronavirus'].sample(n=5000).reset_index(drop=True)

In [34]:
df10 = df.loc[df.flair=='[R]eddiquette'].sample(n=5000).reset_index(drop=True)

In [35]:
df11 = df.loc[df.flair=='Photography'].sample(n=3500).reset_index(drop=True)

In [36]:
df12 = df.loc[df.flair=='Food'].sample(n=3500).reset_index(drop=True)

In [48]:
df13 = df.loc[df.flair=='Not in English.'].sample(n=3500).reset_index(drop=True)

In [49]:
df14 = df.loc[df.flair=='Demonetization'].sample(n=3500).reset_index(drop=True)

In [50]:
df15 = df.loc[df.flair=='other'].sample(n=5000).reset_index(drop=True)

In [43]:
df100=df

In [44]:
z = df100['flair'].value_counts()

z1 = z.to_dict() #converts to dictionary

df100['Count_Column'] = df100['flair'].map(z1) 
df.head()

,Unnamed: 0,flair,title,Count_Column
0,0,AskIndia,Carrer options after 10th ?,54405.0
1,1,Non-Political,Electrical Design Engineering Course,119812.0
2,2,AskIndia,Narendra Modi,54405.0
3,3,AskIndia,Need information on teaching kids through NGOs,54405.0
4,4,Photography,Photographer communities in Mumbai,4573.0

In [45]:
for i in df100.index:
    df100.at[i, 'flair'] = "other" if df100.at[i, 'Count_Column']<3000   else df100.at[i, 'flair']

In [46]:
df100['flair'].nunique()

16

In [47]:
z = df100['flair'].value_counts()

z1 = z.to_dict() #converts to dictionary

z1

{'AskIndia': 54405,
 'Business/Finance': 19424,
 'Coronavirus': 7105,
 'Demonetization': 7319,
 'Entertainment': 4614,
 'Food': 3987,
 'Non-Political': 119812,
 'Not in English.': 5979,
 'Photography': 4573,
 'Policy': 3839,
 'Policy/Economy': 20720,
 'Politics': 111371,
 'Science/Technology': 15962,
 'Sports': 7545,
 '[R]eddiquette': 10399,
 'other': 36740}

In [51]:
pdList = [df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15]  # List of your dataframes
df_final = pd.concat(pdList)

C:\ProgramData\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [52]:
df_final=df_final.sample(frac=1).reset_index(drop=True)

In [56]:
df_final=df_final[['title', 'flair']]

In [57]:
df_final.head()

                                               title          flair
0                                     HELP HELP TEST  [R]eddiquette
1                  Lets have a conversation Randians  [R]eddiquette
2  Forest guards ordered to watch over python tha...  Non-Political
3  Engineering pass-outs from Shitty colleges (Ti...       AskIndia
4     The Constitution, as ABVP would have it. [Old]       Politics

In [58]:
df_final.to_csv(r'E:\Reddit\reddit_data_balanced.csv')